.team-select-layer {
  align-items: center;
  justify-content: center;
}

.team-select {
  width:  400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team-select h1 {
  color: #222;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 30px;
  opacity: .8;
}

.team-select-item {
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, .5);
  margin-bottom: 15px;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  color: #eee;
  padding: 40px 0;
}

.team-select-item:hover {
  color: #333;
}

.team-select-item.families:hover {
  background: rgba(0,128,0,.6);
}

.team-select-item.ballas:hover {
  background: rgba(196,0,171,.6);
}

.team-select-item.vagos:hover {
  background: rgba(255,191,0,.6);
}

.team-select-item span {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 5px;
}
