@font-face {
  font-family: "Inter";
  src: url("./Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: url("./Inter-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  cursor: default;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-drag: none;
  font-family: Inter, "Segoe UI", "Segoe UI Symbol", Arial, sans-serif;
  text-shadow: 0px 0px 0.1em rgba(0, 0, 0, 0.6);
}

*:focus {
  outline: 0;
}

body {
  font-family: "Segoe UI", "Segoe UI Symbol", Arial, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

.help-keys {
  position: absolute;
  top: 12em;
  right: 1.5em;
  text-align: right;
}

.help-keys-command {
  color:rgb(123, 209, 255);
  font-weight: bold;
}

.help-keys ol {
  list-style: none;
}

.help-keys li {
  color: #FFFFFF;
  font-size: .8em;
  margin-bottom: 0.25em;
}

.shblock {
  width: 70vw;
  height: 70vh;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
  position: absolute;
  top: -35vh;
  left: -35vw;
  transition: all 0.2s;
  opacity: 0.5;
  z-index: -1;
}

.shblock.active {
  opacity: 0.9;
}

.chatbox {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 450px;
  height: 250px;
  padding: 15px;
  opacity: 0.7;
  transition: all 0.5s;
}
.chatbox.active {
  opacity: 1;
}

.chatbox p {
  color: #fff;
  line-height: 25px;
  padding: 5px 0;
  margin: 0;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  word-break: break-all;
  display: inline-block;
}

.chatbox p b {
  font-weight: 500;
}

.msglist {
  overflow-y: hidden;
  height: 100%;
}

.overflowed {
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 100%);
}

.msginput {
  display: none;
  width: 100%;
}

.msginput input {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  padding: 10px;
  width: 430px;
  margin-left: 5px;
  margin-top: 10px;
  color: #fff;
  font-family: inherit;
  font-size: 1em;
}

.msginput input::selection {
  background-color: #fff;
  color: #000;
}

.msgsubmit {
  font-size: 23px;
  width: 65px;
  height: 41px;
  position: relative;
  top: 5px;
  right: 4px;
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: all 0.3s;
}

.msgsubmit::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 70%;
  margin-top: -1px;
  margin-left: -0.5px;
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.3s;
}

.msgsubmit:hover {
  background: rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 2560px) {
  body {
    font-size: 20px;
  }
  .chatbox {
    width: 600px;
    height: 400px;
  }
  .msginput input {
    width: 580px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1440px) {
  body {
    font-size: 16px;
  }
  .chatbox {
    width: 400px;
    height: 300px;
  }
  .msginput input {
    width: 380px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 14px;
  }
  .chatbox {
    width: 400px;
    height: 300px;
  }
  .msginput input {
    width: 380px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 800px) {
  .chatbox {
    width: 350px;
    height: 200px;
  }
  .chatbox p {
    line-height: 16px;
  }
  .msginput input {
    width: 330px;
    height: 15px;
    margin-top: 10px;
  }
}

.info {
  font-size: .9em;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  text-align: right;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
}

.info > div {
  justify-self: right;
  margin-bottom: 0.2em;
  border-radius: 1.5em;
  padding: 0.2em 0.5em;
  width: fit-content;
  flex-grow: 20%;
}

.info > div > .info-number {
  background:rgb(255, 255, 255);
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.69);
  border-radius: 0.5em;
  color: black;
  display: inline;
  padding: 0.2em 0.5em;
  text-shadow: none;
}

.players-online-number {
  /* background: rgb(0,0, 0, 0.3);
  padding: 0.1em;
  border-radius: 0.5em; */
  display: inline;
}

.stress-test-label {
  font-size: 16px;
}

.weapons-enabled > * {
  color: rgb(255, 255, 255) !important;
}

.weapons-enabled-on {
  --bg-color: rgb(98, 218, 114);
  background: var(--bg-color) !important;
  box-shadow: 0 0 0.5em var(--bg-color) !important;
}

.weapons-enabled-off {
  --bg-color: rgb(235, 91, 86);
  background: var(--bg-color) !important;
  box-shadow: 0 0 0.5em var(--bg-color) !important;
}

.voice-server-connection-status > * {
  color: rgb(255, 255, 255) !important;
}

.voice-connection-status-connected {
  --bg-color: rgb(98, 218, 114);
  background: var(--bg-color) !important;
  box-shadow: 0 0 0.5em var(--bg-color) !important;
}

.voice-connection-status-disconnected {
  --bg-color: rgb(235, 91, 86);
  background: var(--bg-color) !important;
  box-shadow: 0 0 0.5em var(--bg-color) !important;
}

.voice-connection-status-connecting {
  --bg-color: rgb(255, 247, 0);
  background: var(--bg-color) !important;
  box-shadow: 0 0 0.5em var(--bg-color) !important;
}

.streamed-in > * {

}

.watermark {
  pointer-events: none;
  position: fixed;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
  padding: 1em;
  font-size: 0.9em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 201;
  opacity: 1;

  font-family: 'Inter';
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}